In [5]:
import pandas as pd

In [6]:
df=pd.read_csv("spotify_millsongdata.csv")

In [7]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [8]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [9]:
df.shape

(57650, 4)

In [10]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [11]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [12]:
df.head(10)

,artist,song,text
0,Dusty Springfield,All The King's Horses,"Mmm, my friends keep telling me to pull myself..."
1,Ella Fitzgerald,Come Rain Or Come Shine,"I'm gonna love you, like nobody's loved you \..."
2,Phish,Chalk Dust Torture,Come stumble my mirth beaten worker \r\nI'm J...
3,Josh Groban,Broken Vow,Tell me his name \r\nI want to know \r\nThe ...
4,Human League,Stay With Me Tonight,Baby baby baby got to say what's on my mind \...
5,Judy Garland,That's The Good Old Sunny South,"Don't fly away, come along quick, \r\nSouth w..."
6,Nick Drake,The Thoughts Of Mary Jane,Who can know \r\nThe thoughts of Mary Jane \...
7,Ufo,The Writer,I'm the writer got a front page cover \r\nHot...
8,Modern Talking,Cosmic Girl,"The heart of the ocean told me, you're the onl..."
9,Ray Charles,Heaven Help Us All,"Heaven help the child who never had a home, \..."

In [13]:
df['text'][0]

"Mmm, my friends keep telling me to pull myself together  \r\nThey try to cheer my up but it's not gettin' better  \r\nThey say that time will pass and I'll love again some day  \r\nBut time is standing still ever since you went away  \r\n  \r\nNow, all the king's horses and all the king's men  \r\nYou'll never get me back together again  \r\n'Cause I just fall apart each time I look at you  \r\nNo, all the king's and all the king's men  \r\nAre never gonna make me smile again  \r\nHow can I smile just knowin' you're with somebody new?, ooh  \r\n  \r\nYou had my hopes so high I guess they had to tumble  \r\nAnd when you left my dream my world began to crumble  \r\nNo woman ever found the only missing part  \r\nWhen you left me behind don't you know you took my heart?  \r\n  \r\nNow, all the king's horses and all the king's men  \r\nYou'll never get me back together again  \r\n'Cause I just fall apart each time I look at you, yes I do, now  \r\nAll the king's and all the king's men  \r\nYou're never gonna make me smile again  \r\nHow can I smile just knowin' you're with somebody new?, ooh, yeah, ooh, ahh,\r\nha  \r\n  \r\nAll the king's horses and all the king's men  \r\nYou'll never get me back together again  \r\n'Cause I just fall apart each time I look at you, yes I do  \r\nI said, all the king's and all the king's men  \r\nAre never gonna make me smile again  \r\nHow can I smile just knowing you're with somebody new?, yeah  \r\n  \r\nAll the king's horses and all the king's men  \r\nYou'll never get me back together again  \r\nAnd I just fall apart each time\r\n\r\n"

In [14]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [15]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [16]:
import nltk
nltk.download('punkt')
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/ayushsharaf/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [19]:
df['text']=df['text'].apply(lambda x: tokenization(x))

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [24]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

array([[1.        , 0.11944937, 0.01549871, ..., 0.03179666, 0.16329252,
        0.0310324 ],
       [0.11944937, 1.        , 0.02784206, ..., 0.06857174, 0.02856084,
        0.07300146],
       [0.01549871, 0.02784206, 1.        , ..., 0.03172303, 0.02559512,
        0.02691759],
       ...,
       [0.03179666, 0.06857174, 0.03172303, ..., 1.        , 0.02295913,
        0.0165774 ],
       [0.16329252, 0.02856084, 0.02559512, ..., 0.02295913, 1.        ,
        0.01601543],
       [0.0310324 , 0.07300146, 0.02691759, ..., 0.0165774 , 0.01601543,
        1.        ]])

In [25]:
similarity[0]

array([1.        , 0.11944937, 0.01549871, ..., 0.03179666, 0.16329252,
       0.0310324 ])

In [27]:
df[df['song'] == 'Waiting For The Man']

,artist,song,text
3687,Nazareth,Waiting For The Man,cruisin ' on down to my street corner where me...

In [28]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [31]:
recommendation('Waiting For The Man')

['In Your Corner',
 'Marie',
 'My Little Corner Of The World',
 'Cautious Man',
 'Cuban Crime Of Passion',
 '7 Rooms Of Gloom',
 'R.u. Man Enough',
 'Show Me',
 'Available',
 'Spaceship Coupe',
 "I'm A Man",
 '4 Broken Hearts',
 'Be A Man',
 'Autumn Winds',
 'Money Man',
 'Pretty Vegas',
 'I Want A Guy',
 "It Just Ain't Right",
 'So This Is Love?',
 'Mary, Did You Know?']

In [32]:
import pickle
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))